.main-container {
    display: flex;
    justify-content: center;
}

.disab-rb-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    flex-wrap: wrap;
}

.disab-rb {
    display : block;
    width: 400px;
}

.disab-rb-style {
    margin-bottom: 8px;
    padding: 20px;
    font-size: large;
    text-align: center;
}

.disab-rb > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.disab-rb > input + div{ /* DIV STYLES */
    cursor:pointer;
    background-color: rgba(30, 144, 255, 0.582);
    border:2px solid rgb(47, 47, 255);
}
.disab-rb > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: rgb(0, 128, 255);
    border:2px solid rgb(47, 47, 255);
}

.nav-btn-container{
    display: flex;
    width: 400px;
    margin-top: 25px;
    justify-content: space-evenly;
}

.nav-btn {
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: medium;
    /* width: 160px; */
    padding: 10px 20px;
    background-color: rgb(252, 134, 92);
    border:1px solid rgb(253, 96, 96);
    border-radius: 10px;
}

.nav-btn:hover {
    background-color: rgb(253, 106, 52);
}